<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset="utf-8">
    <title>Dojo Quotes Page</title>
    <link rel="stylesheet" href="master.css">
  </head>
  <body>
    <div class="wrapper">
      <h1>Welcome to Cats Dashboard!</h1>
      <h3>Listing all of our cats:</h3>
      <div class="listing">
      <% if(catObjects) { %>
        <% for(const catObject of catObjects) { %>
              <p><a href="/cat/<%= catObject.id %>" ><%= catObject.name %></a> the <%= catObject.type %></p>
              <div class="buttonDiv1">
                <form action="/cat/edit/<%= catObject.id %>" method="get">
                  <input class="button" type="submit" value="Edit Cat">
                </form>
              </div>
              <div class="buttonDiv">
                <form action="/cat/destroy/<%= catObject.id %>" method="post">
                  <input class="button" type="submit" value="Delete Cat">
                </form>
              </div>
              <hr>
        <% } %>
      <% } %>
    </div>
      <form class="button" action="/cat/new" method="get">
        <input type="submit" value="Create A New Cat">
      </form>
    </div>
  </body>
</html>
